@charset "utf-8";

// variables
// Default grid values
$default-column-width: 60px;
$default-gutter-width: 20px;
$default-columns-amount: 12;

@mixin box-sizing($prop) {
	box-sixing: $prop;
}

// Breakpoint
$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;


@import "style";
@import "bower_components/gi-scss-global-variables/global-variables";
@import "bower_components/gi-scss-mixins/mixins";
@import "bower_components/gi-ui-grid/style";
@import "bower_components/gi-ui-buttons/style";
@import "bower_components/gi-ui-checkbox/style";
@import "bower_components/gi-ui-radio/style";
@import "bower_components/gi-ui-toggle/style";
@import "bower_components/gi-ui-textfield/style";
@import "bower_components/gi-ui-slider/style";
@import "bower_components/gi-ui-select/style";

@include create-grid;

/**
 * Use the following functions to create other custom grids
 */

@include create-grid(10, 6%, 2%, mobile, true, "only screen and (max-width: #{$break-large})");


.container {
	width: gridsystem-width();
	margin: 0 auto;

	@media only screen and (max-width: $break-large) {
		width: 100%;
	}
}

i {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAATVJREFUWIXtlj1Ow0AQRr9d0/oK3IG1rxG31CjiOsABInECmtBR2X12fIcoF6CgQTAfTSwRS4l3/UPDPsmF5ZnZ59XaM0AikUgk/hcmJKgsy4qkm2NBklsRkaG4q5BiqloZY9bTtQAABwDziHV474N2+BxFUTA0NkoscPFrknfGmN8vUXvv65g6s4t57/fOuXcADzg9w3VMHTunVIeIPKnqWlW/x9ZYRAwA2rZ9zrLsFsDnmPzFxABgt9u9kFyR/IjNXVQMAETkLc/zx9i8xcUAoGmar9icPxEbQxKLJeoHG9NSphIkZq3dkjyce66qlbX25nj7istNerCBA4FjzxDOuU03fZC8F5HN1JqjxPrz2aUdC52/+oxq4v35zNqTb2h1vDqC5q9ZxIbOXI9oqUQikUgsyA+n1HIzLAkSHwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
}

.text-right {
	text-align: right;
}