@import "compass";

// this variable could come from the text field scss file
$textfield-label-vertical-margin:  0.5rem !default;
$success-color: green !default;
$error-color: #cc0000 !default;

// Default variables
$form-field-vertial-margin: 0.5rem !default;
$form-labels-vertial-margin: $textfield-label-vertical-margin !default;



.ui-form {

}
.ui-form-field {
	margin-top: $form-field-vertial-margin;
	margin-bottom: $form-field-vertial-margin;
	label, p {
		margin-top: $form-labels-vertial-margin;
		margin-bottom: $form-labels-vertial-margin;
		display: inline-block;
	}
	.inline-field {
		display: inline-block;
	}
	.error {
		small {
			color: $error-color;
		}
	}
	.success {
		small {
			color: $success-color;
		}
	}
}

.ui-form-feedback {
	padding: 1rem;
	@include box-sizing(border-box);
	&.success {
		border: 1px solid $success-color;
		color: $success-color;
	}
	&.error {
		border: 1px solid $error-color;
		color: $error-color;
	}
}